@charset "UTF-8";

/* ✅ 일반 label 스타일 (공통) */
label {
     display: flex;
     align-items: center;
     justify-content: left;
     border: 2px solid #d1e5e7;
     padding: 4px 8px;
     font-size: 12px;
     background-color: #e8f4f7;
     border-radius: 4px;
     text-align: center;
     height: 35px;
     flex-shrink: 0;
     margin-bottom: 0.5rem;
}

/*파일등록관리시작 */
#drag-area {
	border: 2px dashed #007bff;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #f8f9fa;
	min-height: 50px;
}

.file-list-container {
	max-height: 200px;
	overflow-y: auto;
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	background: #fff;
}

.file-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	border-bottom: 1px solid #eee;
	font-size: 14px; /* 파일 목록 글자 크기 줄이기 */
}

.file-item button {
	border: none;
	background: transparent;
	color: red;
	cursor: pointer;
}
.doc-link {
    color: black !important;
    font-weight: bold;
    text-decoration: none;
}
.doc-link:hover {
    text-decoration: underline;
} 
.table-file-container{
  font-size: 0.85em;	
}
/*파일등록관리끝 */


.chart-box canvas {
  width: 100% !important;
  height: auto !important;
}

 .chart-box {
   margin-bottom: 30px;
   background: #f9fafb;
   padding: 24px;
   border-radius: 12px;
 }
 
 /* 통계*/
 * {
   box-sizing: border-box;
 }
 .container_tong {
   max-width: 1200px;
   margin: 40px auto;
   padding: 30px;
   background: #ffffff;
   border-radius: 20px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);
 }
 
 .filter-box {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   gap: 12px;
   margin-bottom: 24px;
 }
 .filter-box span {
   font-weight: 500;
   font-size: 15px;
 }
 input[type="month"] {
   padding: 8px 12px;
   font-size: 14px;
   border: 1px solid #d1d5db;
   border-radius: 8px;
 }
 
#dataTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

#dataTable th,
#dataTable td {
  border: 1px solid #e5e7eb;
  padding: 4px;
  text-align: center;
  font-size: 14px;
}

#dataTable th {
  background-color: #f3f4f6;
  font-weight: 700;
  color: #374151;
}

#dataTable td {
  background-color: #ffffff;
}

#dataTable tr:nth-child(even) td {
  background-color: #f9fafb;
}


@media (max-width: 768px) {
  .filter-box {
    flex-direction: column;
    align-items: flex-start;
  }

  #dataTable {
    font-size: 12px;
  }

  #dataTable th,
  #dataTable td {
    padding: 8px;
  }
}