<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- 부트스트랩 css -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

  <link href="/asset/css/common.css" rel="stylesheet">

  <title>Button style</title>
</head>

<body>
  <!-- 부트스트랩 js -->
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <div class="contaner m-5">

    <h3>솔리드 버튼</h3>
    <div class="m-3">
      <button class="btn btn-primary btn-lg">버튼-pri-lg</button>
      <button class="btn btn-primary">버튼-pri-md</button>
      <button class="btn btn-primary btn-sm">버튼-pri-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-secondary btn-lg">버튼-sec-lg</button>
      <button class="btn btn-secondary">버튼-sec-md</button>
      <button class="btn btn-secondary btn-sm">버튼-sec-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-danger btn-lg">버튼-dan-lg</button>
      <button class="btn btn-danger">버튼-dan-md</button>
      <button class="btn btn-danger btn-sm">버튼-dan-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-success btn-lg">버튼-suc-lg</button>
      <button class="btn btn-success">버튼-suc-md</button>
      <button class="btn btn-success btn-sm">버튼-suc-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-warning btn-lg">버튼-war-lg</button>
      <button class="btn btn-warning">버튼-war-md</button>
      <button class="btn btn-warning btn-sm">버튼-war-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-dark btn-lg">버튼-dan-lg</button>
      <button class="btn btn-dark">버튼-dan-md</button>
      <button class="btn btn-dark btn-sm">버튼-dan-sm</button>
    </div>

    <h3>아웃라인 버튼</h3>
    <div class="m-3">
      <button class="btn btn-outline-primary btn-lg">버튼-pri-lg</button>
      <button class="btn btn-outline-primary">버튼-pri-md</button>
      <button class="btn btn-outline-primary btn-sm">버튼-pri-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-secondary btn-lg">버튼-sec-lg</button>
      <button class="btn btn-outline-secondary">버튼-sec-md</button>
      <button class="btn btn-outline-secondary btn-sm">버튼-sec-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-danger btn-lg">버튼-dan-lg</button>
      <button class="btn btn-outline-danger">버튼-dan-md</button>
      <button class="btn btn-outline-danger btn-sm">버튼-dan-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-success btn-lg">버튼-suc-lg</button>
      <button class="btn btn-outline-success">버튼-suc-md</button>
      <button class="btn btn-outline-success btn-sm">버튼-suc-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-warning btn-lg">버튼-war-lg</button>
      <button class="btn btn-outline-warning">버튼-war-md</button>
      <button class="btn btn-outline-warning btn-sm">버튼-war-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-dark btn-lg">버튼-war-lg</button>
      <button class="btn btn-outline-dark">버튼-war-md</button>
      <button class="btn btn-outline-dark btn-sm">버튼-war-sm</button>
    </div>

    <h3>비활성 버튼</h3>
    <div class="m-3">
      <button class="btn btn-primary btn-lg disabled">버튼-pri-lg</button>
      <button class="btn btn-primary disabled">버튼-pri-md</button>
      <button class="btn btn-primary btn-sm disabled">버튼-pri-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-secondary btn-lg disabled">버튼-sec-lg</button>
      <button class="btn btn-secondary disabled">버튼-sec-md</button>
      <button class="btn btn-secondary btn-sm disabled">버튼-sec-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-danger btn-lg disabled">버튼-dan-lg</button>
      <button class="btn btn-danger disabled">버튼-dan-md</button>
      <button class="btn btn-danger btn-sm disabled">버튼-dan-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-success btn-lg disabled">버튼-suc-lg</button>
      <button class="btn btn-success disabled">버튼-suc-md</button>
      <button class="btn btn-success btn-sm disabled">버튼-suc-sm</button>
    </div>
    <div class="m-3">
      <button class="btn btn-warning btn-lg disabled">버튼-war-lg</button>
      <button class="btn btn-warning disabled">버튼-war-md</button>
      <button class="btn btn-warning btn-sm disabled">버튼-war-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-primary btn-lg disabled">버튼-pri-lg</button>
      <button class="btn btn-outline-primary disabled">버튼-pri-md</button>
      <button class="btn btn-outline-primary btn-sm disabled">버튼-pri-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-secondary btn-lg disabled">버튼-sec-lg</button>
      <button class="btn btn-outline-secondary disabled">버튼-sec-md</button>
      <button class="btn btn-outline-secondary btn-sm disabled">버튼-sec-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-danger btn-lg disabled">버튼-dan-lg</button>
      <button class="btn btn-outline-danger disabled">버튼-dan-md</button>
      <button class="btn btn-outline-danger btn-sm disabled">버튼-dan-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-success btn-lg disabled">버튼-suc-lg</button>
      <button class="btn btn-outline-success disabled">버튼-suc-md</button>
      <button class="btn btn-outline-success btn-sm disabled">버튼-suc-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-warning btn-lg disabled">버튼-war-lg</button>
      <button class="btn btn-outline-warning disabled">버튼-war-md</button>
      <button class="btn btn-outline-warning btn-sm disabled">버튼-war-sm</button>
    </div>

    <div class="m-3">
      <button class="btn btn-outline-dark btn-lg disabled">버튼-war-lg</button>
      <button class="btn btn-outline-dark disabled">버튼-war-md</button>
      <button class="btn btn-outline-dark btn-sm disabled">버튼-war-sm</button>
    </div>

  </div>

</body>

</html>