@charset "UTF-8";

/* 모달 */
.modal-dialog {
  height: 100vh;
}
.modal-content {
  overflow: hidden;
  max-height: 94vh; /* 0311 모달이 길어져서 바디에 스크롤이 생기지 않도록 */
  top: 50%;
  transform: translateY(-50%);
}
.modal-footer {
  background-color: #f8f9fc;
  border-radius: 0px;
}
.modal-body {
  max-height: inherit; /* 0311 모달바디 최대 길이 */
  padding: 22px;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}
.modal-320 {
  width: 320px;
  max-width: 100%;
}
.modal-410 {
  width: 410px;
  max-width: 100%;
}
.modal-520 {
  width: 520px;
  max-width: 100%;
}
.modal-650 {
  width: 650px;
  max-width: 100%;
}
.modal-820 {
  width: 820px;
  max-width: 100%;
}
