<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 부트스트랩 css -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- 부트스트랩 js -->
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <link href="/asset/css/common.css" rel="stylesheet">

  <title>Document</title>
</head>

<body>

  <!-- 페이지네이션 start -->
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination pagination-sm justify-content-center">
      <!-- 비활성화 .disabled / 활성화 .active -->
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- 페이지네이션 js -->
  <script src="/asset/js/pagination.js"></script>
  <!-- 페이지네이션 end -->

</body>

</html>