<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- 부트스트랩 css -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

  <link href="/asset/css/common.css" rel="stylesheet">
  <link href="icon.css" rel="stylesheet">

  <title>Icon style</title>
</head>

<body>
  <!-- 부트스트랩 js -->
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <div class="contaner m-5">

    <h3>아이콘</h3>
    <div class="m-3">
      <span class="icon icon-search"></span>
      <span class="icon icon-close"></span>
      <span class="icon icon-view"></span>
      <span class="icon icon-regist"></span>
      <span class="icon icon-edit"></span>
      <span class="icon icon-del"></span>
      <span class="icon icon-process"></span>
      <span class="icon icon-print"></span>
      <span class="icon icon-xls"></span>
      <span class="icon icon-send"></span>
      <span class="icon icon-img"></span>
      <span class="icon icon-calendar"></span>
      <span class="icon icon-check"></span>
      <span class="icon icon-upload"></span>
      <span class="icon icon-add"></span>
      <span class="icon icon-download"></span>
    </div>

    <h3>버트콘</h3>
    <div class="m-3">
      <button class="buttcon"><span class="icon icon-search"></span></button>
      <button class="buttcon"><span class="icon icon-close"></span></button>
      <button class="buttcon"><span class="icon icon-view"></span></button>
      <button class="buttcon"><span class="icon icon-regist"></span></button>
      <button class="buttcon"><span class="icon icon-edit"></span></button>
      <button class="buttcon"><span class="icon icon-del"></span></button>
      <button class="buttcon"><span class="icon icon-process"></span></button>
      <button class="buttcon"><span class="icon icon-print"></span></button>
      <button class="buttcon"><span class="icon icon-xls"></span></button>
      <button class="buttcon"><span class="icon icon-send"></span></button>
      <button class="buttcon"><span class="icon icon-img"></span></button>
      <button class="buttcon"><span class="icon icon-calendar"></span></button>
      <button class="buttcon"><span class="icon icon-check"></span></button>
      <button class="buttcon"><span class="icon icon-upload"></span></button>
      <button class="buttcon"><span class="icon icon-add"></span></button>
      <button class="buttcon"><span class="icon icon-download"></span></button>
    </div>

    <h3>버튼 + 아이콘</h3>
    <div class="m-3">
      <button class="btn btn-outline-dark btn-sm btn-icon"><span class="icon icon-xls"></span>엑셀다운로드</button>
    </div>

  </div>

</body>

</html>